@font-face {
  font-family: Tape; /* Имя шрифта */
  src: url(../fonts/Ticker_Tape.ttf); /* Путь к файлу со шрифтом */
}

*{
  font-family: Tape;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}




