<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../css/main.css">
  <link rel="stylesheet" href="../css/change.css">
  <script src="../node_modules/vue/dist/vue.js"></script>
  <title>Создать/редактировать тест</title>
</head>

<body>
  <input type="file" style="display: none">
  <div class="content" id="app">

  </div>
  <script>
    var fs = require("fs");
    var vue = require("vue");
    var win = nw.Window.get(); // main window
    var creating = false;
    var content = document.getElementsByClassName('content');
    var menu;



    function createVUE(json) {
      content[0].innerHTML = `
        <div class="title">\
          <div>Название теста: </div><input type="text" v-model="title">\          
        </div>
        <div class="questions">
          <div>Вопросы:</div>
          <div v-for="(question, index) in questions" v-bind:class="'question q'+index">            
            <div>Title вопроса: <input type="text" v-bind:value="question.title"></div>
            <div class="text">
              <div>Текст вопроса:</div>
              <textarea rows="2" v-bind:value="question.description" ></textarea>
              <div>Ответы:</div>
              <div v-for="(answer, answer_index) in question.answers">
                Ответ № {{ answer_index }}: <input type="text" v-bind:value="answer.answer">
              </div>  
            </div>
          </div>
        </div>
      `
      var app = new Vue({
        el: '#app',
        data: {
          title: json.title,
          questions: json.questions          
        }
      })
    }

    function createTests() {
      if (creating) {
        param = {
          text: `Данные редактируются...
          Вы действительно хотите создать новый тест?`
        }
        yesno(param);
      } else {
        var content = document.getElementsByClassName('content');
        content[0].innerHTML = '\
        <div class="title">\
          <div>Название теста: </div><input type="text">\
        </div>\
        <div class="questions">\
          <div class="question q1">\
            <div class="text"><div>Текст вопроса:</div><textarea rows="2"></textarea></div>\
            <div class="answers">\
              <div>Ответы:</div>\
              <ul>\
                <li><div>a):</div> <input type="text"></li>\
                <li><div>b):</div> <input type="text"></li>\
                <li><div>c):</div> <input type="text"></li>\
                <li><div>d):</div> <input type="text"></li>\
                <li class="add-answer">Добавить ответ</li>\
              </ul>\
            </div>\
          </div>\
          <div class="add-question">Добавить вопрос</div>\
        </div>';
        creating = true;
      }
    }

    function createMenu() {
      // Create an empty menubar
      menu = new nw.Menu({ type: 'menubar' });

      var win = nw.Window.get(); // current window

      win.height = 600;
      win.width = 600;
      win.setPosition('center')

      // Create a submenu as the 2nd level menu
      var submenu = new nw.Menu();
      submenu.append(new nw.MenuItem({
        label: 'Создать тест',
        click: createTests
      }));
      submenu.append(new nw.MenuItem({
        label: 'Открыть тест',
        click: function () {
          openTest()
        }
      }));
      submenu.append(new nw.MenuItem({ type: "separator" }));
      submenu.append(new nw.MenuItem({ label: 'Сохранить тест' }));
      submenu.append(new nw.MenuItem({ label: 'Сохранить тест как' }));
      submenu.append(new nw.MenuItem({ type: "separator" }));
      submenu.append(new nw.MenuItem({
        label: 'Выход в меню',
        click: function () {
          nw.Window.open('./html/menu.html', {}, function (new_win) {
            new_win.height = 400;
            new_win.width = 300;
            win.close();
          });
        },
      }));
      submenu.append(new nw.MenuItem({
        label: 'Закрыть программу',
        click: function () {
          win.close();
        },
      }));

      // Create and append the 1st level menu to the menubar
      menu.append(new nw.MenuItem({
        label: 'Файл',
        submenu: submenu
      }));
      menu.append(new nw.MenuItem({
        label: 'Обновить',
        click: function () {
          win.reload();
        }
      }));
      menu.append(new nw.MenuItem({
        label: 'Vue',
        click: function () {
          createVUE();
        }
      }));
      menu.append(new nw.MenuItem({
        label: 'Write JSON',
        click: function () {
          writeJSON();
        }
      }));
      menu.append(new nw.MenuItem({
        label: 'Read JSON',
        click: function () {
          readJSON();
        }
      }));

      // Assign it to `window.menu` to get the menu displayed
      nw.Window.get().menu = menu;
    };

    function writeJSON() {
      let userData = {
        title: "Тестовый тест)))",
        create_date: "Бесконечность",
        last_change_date: "Вчера",
        questions: [
          {
            title: "Вопрос №1",
            description: "ТЕкст вопроса №1",
            answers: [
              {
                answer: "Answer a"
              },
              {
                answer: "Answer b"
              },
              {
                answer: "Answer c"
              }
            ]
          },
          {
            title: "Вопрос №2",
            description: "ТЕкст вопроса №2",
            answers: [
              {
                answer: "Answer a"
              },
              {
                answer: "Answer b"
              },
              {
                answer: "Answer c"
              }
            ]
          }
        ]
      };
      var str = JSON.stringify(userData);
      fs.writeFileSync('./tests/user.lat', str);
      alert(str);
    }

    function readJSON() {
      let data = fs.readFileSync('./tests/user.lat', {
        encoding: 'utf8'
      });
      var json = JSON.parse(data)
      alert(json.questions[0].description)
    }

    function yesno(param) {
      console.log(menu.items);
      let items = menu.items;
      items[0].enabled = false;
      menu.insert(items[0], 3)
      menu.items[0].enabled = false;
      menu.items[0].label = "asd";
      menu.items[1].enabled = false;
      nw.Window.get().menu.items[0].enabled = false;
      // nw.Window.get().menu = new nw.Menu({type: 'menubar'});

      var errorWindow = document.createElement('div');
      errorWindow.className = 'yesno';
      errorWindow.innerHTML = `
        <div class="dark">
          <div class="error-window">
            <p>${param.text}</p>
            <div class="buttons">
              <div class="button b-ok" onclick="okClick()">ok</div>
              <div class="button b-cancel" onclick="cancelClick()">cancel</div>
            </div>
          </div>
        </div>      
      `;
      document.body.appendChild(errorWindow);
    }

    function okClick() {
      let errWin = document.getElementsByClassName('yesno');
      document.body.removeChild(errWin[0]);
      creating = false;
      createTests();
      createMenu();
    }

    function cancelClick() {
      let errWin = document.getElementsByClassName('yesno');
      document.body.removeChild(errWin[0]);
      createMenu();
    }

    function openTest() {
      let renderTest = function (json) {
        var content = document.getElementsByClassName('content');
        console.log(json.title);
        let html = `
        <div class="title"></div>
        <div class="questions"></div>`

        let title = document.getElementsByClassName('title');
        title.innerHTML = `<div>Название теста: </div>${json.title}`;




        content[0].innerHTML = html;



      }


      var fileinput = document.querySelector('input[type=file]');
      fileinput.addEventListener("change", () => {
        var path = fileinput.value;
        fileinput.value = '';
        fs.open(path, 'r', function (err, file_handle) {
          if (!err) {
            fs.readFile(file_handle, 'utf8', function (err, data) {
              if (!err) {
                // Всё прошло хорошо, делаем нужные действия и закрываем соединение с файлом.
                var json = JSON.parse(data);
                createVUE(json);
                fs.close(file_handle);
              } else {
                // Произошла ошибка при записи
                consle.log('Ошибка при записи: ' + err)
              }
            });
          } else {
            consle.log('Ошибка открытия файла: ' + err)
          }
        });
      })
      fileinput.click();
    }

    function debug() {
      createTests();
    }

    createMenu();

  </script>
</body>

</html>